body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header {
    background-color: #eeeeee;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1, h2 {
    color: #333;
}

a{
    color: rgb(177, 109, 25);
    font-size: 30px;
}

a:hover{
    color: #6e6b6b;
}

p {
   line-height: 1.8; 
   margin-bottom: 1rem;
}



footer {
    text-align: center;
    background-color: #6e6b6b;
    color: #fff;
    padding: 1rem 0;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}
